- configuration: Debug
  <<: &default
    version: '1.0.{build}'
    image: Visual Studio 2017
    platform: Any CPU
    cache: '%USERPROFILE%\.nuget\packages'

    build:
      parallel: true

    artifacts:
      - path: '**\*.nupkg'

    before_build: |-
      dotnet --info
      dotnet restore

    build_script: |-
      dotnet build --version-suffix %APPVEYOR_BUILD_ID%
      dotnet pack -c Release --version-suffix %APPVEYOR_BUILD_ID% -o %CD%\artifacts

    test_script: |-
      set COVERAGE_FILE=coverage.xml
      set OPENCOVER="%USERPROFILE%\.nuget\packages\OpenCover\4.6.519\tools\OpenCover.Console.exe"
      set DOTNET="%ProgramFiles%\dotnet\dotnet.exe"
      set TEST_PROJECT="test\Nuhaven.Collections.Generic.Extensions.Tests\Nuhaven.Collections.Generic.Extensions.Tests.csproj"
      %OPENCOVER% -register:user -target:%DOTNET% -targetargs:"test %TEST_PROJECT%" -output:%COVERAGE_FILE% -oldStyle
      set PATH=C:\Python36;C:\Python36\Scripts;%PATH%
      pip install codecov
      codecov -f %COVERAGE_FILE%

- branches:
    only: [master]
  configuration: Release
  <<: *default
  deploy_script: |-
    nuget push -ApiKey %NUGET_API_KEY% .\artifacts\*.nupkg
